@font-face {
    font-family: 'StackSansBold';
    src: url('../fonts/StackSansHeadline-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StackSansSemiBold';
    src: url('../fonts/StackSansHeadline-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StackSansRegular';
    src: url('../fonts/StackSansHeadline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: rgb(231, 228, 255);
    display: block;
}

.topBar {
    display: flex;
    gap: 2vw;
    padding: 1vw;
    font-size: 0.9vw;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,
            #101331 0%,
            #0c0936 40%,
            #07121d 100%);
    box-shadow:
        0vw 0.1vw 0.3vw rgb(54, 54, 54);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.topBar p {
    cursor: pointer;
    font-family: 'StackSansBold';
}

.topBar p {
    position: relative;
    display: inline-block;
    color: white;
    cursor: pointer;
}

.topBar p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.09vw;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.topBar p:hover::after {
    width: 100%;
}

.pageTitle p {
    font-size: 1.4vw;
    margin-right: 50vw;
    font-family: 'StackSansBold';
    background: linear-gradient(to right,
            rgb(231, 228, 255) 0%,
            white 40%,
            rgb(231, 228, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.GustavoNavarro {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
}

.pic {
    height: 18vw;
    margin-right: 2vw;
    border-radius: 100%;
}

.presentaciontxt {
    color: rgb(0, 0, 0);
    font-family: 'StackSansRegular';
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.title {
    color: black;
    font-family: 'StackSansBold';
    font-size: 3.7vw;
    font-weight: 700;
    background: linear-gradient(to right,
            #101331 0%,
            #100c46 40%,
            #07121d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}

habilidades {
    font-family: 'StackSansBold';
    font-weight: 700;
    background: linear-gradient(to right,
            #101331 0%,
            #100c46 40%,
            #07121d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentacion a {
    width: 10vw;
    height: 2.5vw;
    cursor: pointer;
    border-radius: 2vw;
    border: 0.15vw solid transparent;
    background: linear-gradient(90deg,
            #101331 0%,
            #0c0936 40%,
            #07121d 100%);
    color: white;
    font-family: 'StackSansSemiBold';
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    box-shadow:
        0vw 0.1vw 0.3vw rgb(54, 54, 54);
}

.presentacion a:hover {
    background: rgb(231, 228, 255);
    color: #0c0936;
    border-color: #0c0936;
    transform: scale(1.05);
    box-shadow: 0 0.6vw 1vw rgba(0, 0, 0, 0.2);
}

.aboutMeSection {
    height: 100vh;
    width: 100%;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMeSection p {
    font-family: 'StackSansRegular';
    font-size: 1.3vw;
}

.aboutMeSection h1 {
    margin-bottom: 1.3vw;
}

.divisor {
    width: 80vw;
}

.pageTitle {
    display: inline-block;
    animation: vibrar 0.5s ease-in-out infinite alternate;
}

@keyframes vibrar {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(2px);
    }
}

h1 {
    font-family: 'StackSansBold';
    position: relative;
    display: inline-block;
    font-size: 3rem;
    font-weight: 800;
    color: #0f0f2d;
    overflow: hidden;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background: #0f0f2d;
    border-radius: 2px;
    transform: translateX(-50%);
    transition: width 1.2s ease-in-out;
    animation: lineaAnimada 3s ease-in-out infinite;
}

@keyframes lineaAnimada {
    0% {
        width: 20%;
    }

    50% {
        width: 60%;
    }

    100% {
        width: 20%;
    }
}

.misHabilidadesSection {
    height: 100vh;
    width: 100%;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divisor2 {
    width: 70vw;
    height: 35vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 1vw;
    margin-top: 2vw;
    justify-content: center;
    align-items: center;
}

.divisor2 div {
    width: 16vw;
    height: 15vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,
            rgb(212, 206, 255) 0%,
            #cecbf3 40%,
            rgb(212, 206, 255) 100%);
    opacity: 0.9;
    transition: all 0.4s ease;
}

.divisor2 div h2 {
    background: linear-gradient(to right,
            #101331 0%,
            #100c46 40%,
            #07121d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'StackSansBold';
    font-size: 1.2vw;
}

.divisor2 div p {
    background: linear-gradient(to right,
            #101331 0%,
            #100c46 40%,
            #07121d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'StackSansRegular';
    font-size: 0.7vw;
    margin-top: 0.5vw;
}

.divisor2 div img {
    height: 4vw;
    margin-bottom: 1vw;
}

.divisor2 div:hover {
    transform: scale(1.05);
    box-shadow: 0 0.6vw 1vw rgba(0, 0, 0, 0.2);
}

.ProyectosSection {
    height: 100vh;
    width: 100%;
}
